   <h3>THE FOLLOWING MENU ITEM WAS ADDED TO THE CART</h3>
   
   <div>            
      <br> 
      <h3 style="margin-left: 10px;" id="title_data">{{menuItem.dish_name}}</h3>
   </div>

   <img style="float:left; margin-left: 20px;" src="{{menuItem.image_url}}" alt="{{menuIetm.dish_description}}" width="100px" height="100px"> <br>            
   <p style="margin-left: 20px; display: inline;" id="blog_content">{{menuItem.dish_description}}</p><br>
   <p style="margin-left: 20px; display: inline;" id="blog_content">Price: {{menuItem.price}}</p>            
   
