<!--
<section class="menu">
  <img src="/images/{{menu.filename}}" alt="{{menu.description}}">
  <div class="menu-details">
    <h3>{{menu.title}}</h3>
  </div>
</section>  -->


<div style="text-align: center"><h2> SOUPS </h2></div>
{{#each menus as |menu|}}
  <div>

  {{#ifEquals menu.category_code "S"}}
    <div>
      <br> 
      <h3 style="margin-left: 10px;" id="title_data">{{menu.dish_name}}</h3>
    </div>

    <img style="float:left; margin-left: 20px;" src="{{image_url}}" alt="{{menu.dish_description}}" width="100px" height="100px"> <br>            
    <p style="margin-left: 20px; display: inline;" id="blog_content">{{menu.dish_description}}</p><br>
    <p style="margin-left: 20px; display: inline;" id="blog_content">Price: {{menu.price}}</p>            
    <a style="margin-left: 20px;" href="/carts/add/{{menu.id}}">Add To Cart</a><br><br><br>
  {{/ifEquals}}

  </div>
{{/each}}

<div style="text-align: center"><h2> ENTREE </h2></div>
{{#each menus as |menu|}}
  <div>
  
  {{#ifEquals menu.category_code "E"}}
    <div>            
      <br> 
      <h3 style="margin-left: 10px;" id="title_data">{{menu.dish_name}}</h3>
    </div>

    <img style="float:left; margin-left: 20px;" src="{{image_url}}" alt="{{menu.dish_description}}" width="100px" height="100px"> <br>            
    <p style="margin-left: 20px; display: inline;" id="blog_content">{{menu.dish_description}}</p><br>
    <p style="margin-left: 20px; display: inline;" id="blog_content">Price: {{menu.price}}</p>            
    <a style="margin-left: 20px;" href="/carts/add/{{menu.id}}">Add To Cart</a><br><br><br>
  {{/ifEquals}}          

  </div>  
  {{/each}}    

  <div style="text-align: center"><h2> DESSERT </h2></div>
  {{#each menus as |menu|}}
    <div>  

    {{#ifEquals menu.category_code "D"}}           
      <div>
        <br> 
        <h3 style="margin-left: 10px;" id="title_data">{{menu.dish_name}}</h3>
      </div>

      <img style="float:left; margin-left: 20px;" src="{{image_url}}" alt="{{menu.dish_description}}" width="100px" height="100px"> <br>            
      <p style="margin-left: 20px; display: inline;" id="blog_content">{{menu.dish_description}}</p><br>
      <p style="margin-left: 20px; display: inline;" id="blog_content">Price: {{menu.price}}</p>            
      <a style="margin-left: 20px;" href="/carts/add/{{menu.id}}">Add To Cart</a><br><br><br>
    {{/ifEquals}}                 

    </div>  
    {{/each}}                          


 


<!-- 
<h3 style="margin-top: 5px; margin-bottom: 5px; float:left;">{{menu.dish_name}}</h3><br><br>
<img style="float:left; margin-left: 10px;" src="{{image_url}}" alt="{{menu.dish_description}}" width="100px" height="100px"> <br>
<p>{{menu.dish_description}}</p><br><br>
<p>{{menu.price}}</p> -->
