
<div style="text-align: center"><h1>{{restaurantItem.restaurant_name}} Menu</h1></div>
<div style="text-align: center"><h2> SOUPS </h2></div>

{{#each menus as |menu|}}
  <div>

  {{#ifEquals menu.category_code "S"}}
    <div>
      <br> 
      <h3 style="margin-left: 10px;">{{menu.dish_name}}</h3>
    </div>

    <img style="float:left; margin-left: 20px;" src="{{menu.image_url}}" alt="{{menu.dish_description}}" width="100px" height="100px"> <br>            
    <p style="margin-left: 20px; display: inline;">{{menu.dish_description}}</p><br>
    <p style="margin-left: 20px; display: inline;">Price: {{menu.price}}</p> 
    <a style="margin-left: 20px;" href="/carts/add/{{menu.id}}">Add To Cart</a><br><br><br>      
  {{/ifEquals}}

  </div>
{{/each}}

<div style="text-align: center"><h2> ENTREE </h2></div>
{{#each menus as |menu|}}
  <div>
  
  {{#ifEquals menu.category_code "E"}}
    <div>            
      <br> 
      <h3 style="margin-left: 10px;">{{menu.dish_name}}</h3>
    </div>

    <img style="float:left; margin-left: 20px;" src="{{menu.image_url}}" alt="{{menu.dish_description}}" width="100px" height="100px"> <br>            
    <p style="margin-left: 20px; display: inline;">{{menu.dish_description}}</p><br>
    <p style="margin-left: 20px; display: inline;">Price: {{menu.price}}</p>            
    <a style="margin-left: 20px;" href="/carts/add/{{menu.id}}">Add To Cart</a><br><br><br>          
  {{/ifEquals}}          

  </div>  
  {{/each}}    

  <div style="text-align: center"><h2> DESSERT </h2></div>
  {{#each menus as |menu|}}
    <div>  

    {{#ifEquals menu.category_code "D"}}           
      <div>
        <br> 
        <h3 style="margin-left: 10px;">{{menu.dish_name}}</h3>
      </div>

      <img style="float:left; margin-left: 20px;" src="{{menu.image_url}}" alt="{{menu.dish_description}}" width="100px" height="100px"> <br>            
      <p style="margin-left: 20px; display: inline;">{{menu.dish_description}}</p><br>
      <p style="margin-left: 20px; display: inline;">Price: {{menu.price}}</p> 
      <a style="margin-left: 20px;" href="/carts/add/{{menu.id}}">Add To Cart</a><br><br><br>      
    {{/ifEquals}}                 

    </div>  
    {{/each}}                          
